<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons>
      <ion-menu-button menu="menu-inicio"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  #form="ngForm" (ngSubmit)="editarUsuario(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Editar Dados</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="nome" [value]="nome" type="text" placeholder="Nome" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" [value]="email" type="email" placeholder="Email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="senha" [value]="senha" type="password" placeholder="Senha" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="numero" [value]="numero" type="number" placeholder="Whatsapp" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="success"  size="large" type="submit" expand="block">Editar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-item>
    <ion-item-sliding>
      <img style="max-width: 90%; width: auto;
      margin: auto;
      display: block;
      transform: rotate(270deg);" [src]="'https://gaosoft.com.br/apiMobile/imagens/'+foto"> 
      <ion-item>
        
      </ion-item>
    </ion-item-sliding>
  
  </ion-item>

</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="tirarFoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>

</ion-fab>
