<ion-header>
  <ion-toolbar>
    <ion-title>Listar Ipet</ion-title>
    <ion-buttons>
      <ion-menu-button menu="menu-inicio"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="getDisponibilidadesPesquisa(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Listar serviço</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="cidade" type="text" placeholder="Cidade" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Opções</ion-label>
              <ion-select name="disponibilidade" okText="Selecionar" cancelTex="Cancelar" ngModel required>
                <ion-select-option>HotelZinho</ion-select-option>
                <ion-select-option>Passear</ion-select-option>
                <ion-select-option>PetShop</ion-select-option>
              <ion-select-option>Veterinario</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="success" size="large" type="submit" expand="block">Pesquisar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-item *ngFor="let resultado of resultados">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{resultado.nome}}</ion-card-title>
        <img style="max-width: 50%;" [src]="'https://gaosoft.com.br/apiMobile/imagens/'+resultado.foto">
        <h2>_______________________________</h2>
      </ion-card-header>
      <ion-card-content>
        <h2>Cidade: {{resultado.cidade}}</h2>
        <h2>Whatsapp: {{resultado.numero}}</h2>
        <h2>Serviço: {{resultado.disponibilidade}}</h2>
        <h2 *ngIf="resultado.valor != 0.00">Valor:R${{resultado.valor}}/H</h2>
        {{resultado.votos}}
        <ion-col *ngIf=" resultado.estrelas == null && resultado.estrelas < 1">
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
        </ion-col>
        
        <ion-col *ngIf=" resultado.estrelas >= 1 && resultado.estrelas < 2">
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;" name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;" name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
        </ion-col>

        <ion-col *ngIf=" resultado.estrelas >= 2 && resultado.estrelas < 3">
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
        </ion-col>
        <ion-col *ngIf=" resultado.estrelas >= 3 && resultado.estrelas < 4">
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;" name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
        </ion-col>
        <ion-col *ngIf=" resultado.estrelas >= 4 && resultado.estrelas < 5">
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;" name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star-outline"></ion-icon>
        </ion-col>
        <ion-col *ngIf=" resultado.estrelas == 5">
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;"  name="star"></ion-icon>
          <ion-icon style="font-size: 20px;" name="star"></ion-icon>
        </ion-col><br>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5581{{resultado.numero}}" ><ion-button color="success">Whatsapp<ion-icon  name="logo-whatsapp"></ion-icon></ion-button></a>
        <a (click)="enviarMensagem(resultado.id_usuario,resultado.nome)"><ion-button>Mensagem<ion-icon  name="chatbubbles"></ion-icon></ion-button></a>
      </ion-card-content>
    </ion-card>
  </ion-item>


</ion-content>