<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons>
      <ion-menu-button menu="menu-inicio"></ion-menu-button>
    </ion-buttons>
    <ion-chip>
      <ion-avatar>
        <img src="https://image.flaticon.com/icons/png/512/17/17004.png">
      </ion-avatar>
      <ion-label>{{nome_usuario_enviar}}</ion-label>
      <ion-input type="hidden" value="{{id_usuario_enviar}}"></ion-input>
    </ion-chip>
    
  </ion-toolbar>
  
</ion-header>



<ion-content style="--offset-top:0px;--offset-bottom:-70px;">
  <!-- *ngIf=" tal tal == ip do usuario"  -->
  <ion-list *ngFor="let mensagem of mensagens" style="background-color: transparent; width: 100%; top: 20%; margin-bottom: 0%;">
    <ion-item *ngIf=" mensagem.id_enviou != id_usuario_enviar && mensagem.conversa != null" style="--ion-background-color: rgb(164, 218, 179); margin-left: 10%;">
      <ion-text  slot="start">{{mensagem.conversa}}</ion-text>
    </ion-item>
    <ion-item *ngIf=" mensagem.id_enviou != id_usuario_enviar && mensagem.foto != null" style="--ion-background-color: rgb(164, 218, 179); margin-left: 10%;">
      <ion-text  slot="start"><img style="max-width: 60%; width: auto;
        margin: auto;
        display: block;
        transform: rotate(270deg);" [src]="'https://gaosoft.com.br/apiMobile/imagens/chat/'+mensagem.foto"></ion-text>
    </ion-item>

    <ion-item *ngIf=" mensagem.id_enviou == id_usuario_enviar && mensagem.conversa != null" style="--ion-background-color: rgb(235, 235, 235); margin-right: 10%;">
      <ion-text  slot="start">{{mensagem.conversa}}</ion-text>
    </ion-item>
    <ion-item *ngIf=" mensagem.id_enviou == id_usuario_enviar && mensagem.foto != null" style="--ion-background-color: rgb(235, 235, 235); margin-right: 10%;">
      <ion-text  slot="start"><img style="max-width: 60%; width: auto;
        margin: auto;
        display: block;
        transform: rotate(270deg);" [src]="'https://gaosoft.com.br/apiMobile/imagens/chat/'+mensagem.foto"></ion-text>
    </ion-item>
  </ion-list>

  

</ion-content>
<ion-footer>
  <ion-fab edge vertical="bottom" style="margin-left: 5%; width: 90%; margin-bottom: 10%;">
    <ion-item style="--ion-background-color: rgb(206, 197, 148);">
    <ion-textarea (click)="limparTexto()" [(ngModel)]="message" name="message" autofocus id="textinput" type="text" style="width: 90%; height: 30%;"></ion-textarea>
    <ion-icon button (click)="chatFoto()" style="height: 100%;" name="camera"></ion-icon>
    <ion-icon button (click)="enviarMensagem()" style="height: 100%;" name="send">Enviar</ion-icon>
  </ion-item>
  </ion-fab>
</ion-footer>
