<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <ion-menu-button menu="menu-inicio"></ion-menu-button>
      <ion-title>Disponibilidade</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="adicionarDisponibilidade(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Faça seu cadastro</h3>
          </div>
          <ion-item>
            <ion-input name="cidade" type="text" value="{{cidade}}" placeholder="Cidade" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="bairro" type="text" [value]="bairro" placeholder="Bairro" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="numero" type="number" [value]="numero" placeholder="Número" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Opções</ion-label>
            <ion-select name="opcao" value="{{opcao}}" (ionChange)="tipo($event);" okText="Selecionar"
              cancelTex="Cancelar" ngModel required>
              <ion-select-option>HotelZinho</ion-select-option>
              <ion-select-option>Passear</ion-select-option>
              <ion-select-option>PetShop</ion-select-option>
              <ion-select-option>Veterinario</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="esconder == false">
            <ion-input name="valor" type="number" [value]="valor" placeholder="Valor" ngModel required></ion-input>/Hora
          </ion-item>
          <div padding>
            <ion-button color="success" [disabled]="form.invalid" size="large" type="submit" expand="block">Confirmar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div *ngIf="cadastrado == 1">
    <ion-item style="cursor: pointer" (click)="locatePosition()">
      <ion-button fill="clear">
        <ion-icon slot="start" name="map"></ion-icon>
        Localização Atual
      </ion-button>
    </ion-item>
  </div>
  <div id="mapId" style="height:200px"></div>
  <div *ngIf="cadastrado == 1">
    
  
    <ion-button color="success" size="large" type="submit" (click)="enviarlocal()" expand="block">Enviar localização
    </ion-button>
  </div>




</ion-content>