<ion-app>
  <ion-menu menuId="menu-inicio" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item (click)="listar()">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            <ion-label>Listar</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item (click)="Disponibilidade()">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Disponibilidade</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="Editar()">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>Editar Dados</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="Contatos()">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Contatos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="map()">
            <ion-icon name="map" slot="start"></ion-icon>
            <ion-label>Mapa</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
