<ion-content class="fundo" [fullscreen]="true"> 

  <div style="width: 100%; height: 100%; background-image: url('/assets/img/pet.jpg');background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;"></div>



</ion-content>

<ion-footer>
  <form  #form="ngForm" (ngSubmit)="adicionar(form)">
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Faça seu cadastro</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-input name="nome" type="text" placeholder="Nome" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="senha" type="password" placeholder="Senha" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="numero" mask="(00) 00000-0000" maxlength="15" type="text" placeholder="Whatsapp" ngModel required></ion-input>
          </ion-item>
        </div>
        <ion-row >
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
            <ion-button size="large" (click)="home()" expand="block">Efetuar Login</ion-button>
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
            <ion-button color="success"  size="large" type="submit" [disabled]="form.invalid" expand="block">Cadastrar</ion-button>
          </ion-col>
        </ion-row>


      </ion-col>
    </ion-row>
</form>
</ion-footer>